

<router-outlet></router-outlet>
<h1> Welcome to Angular!!!</h1>

<h1> my name is {{name}} and my number is {{id}}</h1>

<ul>
  <li *ngFor="let reminder of reminders">
    {{ reminder }}

  </li>
</ul>

